/* p{
    color: red;
} */
/* .thechu{
    color: blue;
} */
/* #chu{
    color: red;
} */
/* li{
    color: red;
    text-transform: uppercase;


}
ul {
    list-style: none;
    display: flex   ;
    } */
/* .item{
color: aqua;
} */

ul{
    display: flex;
}
/* #id{
    color: yellow;
}

#menu1{
    color: blue;
}
p{
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}
a{
    text-decoration: none;
}
img{
    width: 50% ;
} */
/* .flex-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} */
.parent{
    background-color: antiquewhite;
    height: 600px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 80px 300px 80px;
}
.child{
    /* height: 150px; */
    display: flex;
}

.child:nth-of-type(1){
    background-color: aqua;
    grid-column: 5;
    grid-column: span 12;
}
.child:nth-of-type(2){
    
    background-color:blue;
    grid-column: span 2;
}
.child:nth-of-type(3){
    background-color: rebeccapurple;
    grid-column: span 8;
}
.child:nth-of-type(4){
    background-color: burlywood;
    grid-column: span 2;
}
.child:nth-of-type(5){
    background-color: green;
    grid-column: span 12;
}

/* .clear-float{
    clear:left;
} */
/* ren gap */